.cart-pic {
  width: 100px;
  height: 100px;
}

.cart-modal {
  height: 100vh;
  overflow: auto;
  color: white;
  /* background-color: pink; */
}

.slide-pane__content {
  background-color: var(--color-teal);
  background-color: var(--color-mint-green);
  /* background-color: var(--color-pink); */
  color: white;
}