.landing-page__image-wrapper {
  background-image: url('https://cdn.discordapp.com/attachments/1106274559671418943/1119406195577458698/87767e8ef4bb3d828cc1382a8cd9485b.png');
  /* background-image: url('https://cdn.discordapp.com/attachments/1106274559671418943/1119407559569317938/at_art_design_2021-02_Greendigs-plants_zoom_backgrounds_zoombackground-2.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 45rem;
  background-position: "center";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}

.landing-page__image-wrapper>h1 {
  margin-bottom: 2rem;
}

.landing-page__products {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  /* border: 5px solid red; */
  gap: 1rem;
  justify-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}