/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@100;300;400;700;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --logo-font: 'Dancing Script', cursive;
  --normal-font: 'Quicksand', sans-serif;
  --picture-color: #FEE3D8;
  --regular-font: 14px;
  --max-width: 1440px;
  --logo-color: #339E00;
  --color-pink: #EFAEAC;
  --color-mint-green: #45C1A0;
  --color-teal: #3C7D85;
  --color-gold: #F8C27B;
  --color-light-green: #CFE7D6;
  --color-salmon: #FE7A75;
  --color-headers: rgb(35, 75, 81);
  --shadow-hover: 0px 0px 10px rgb(78, 77, 77);
  --shadow: 0px 0px 3px rgba(0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--normal-font);
  color: var(--color-headers);

}


body {
  background-color: var(--color-light-green);

}

li {
  list-style: none;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(75, 75, 75);
}

.modal-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  padding: 1rem;
  border-radius: 10px;
  width: 20rem;
}

.modal-form__header {
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  padding-bottom: .5rem;
  border-bottom: 1px solid lightgray;
  width: 100%;
  text-align: center;
}

.modal-form__form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

label .landing-page__form {
  display: block;
  color: red;
  font-size: 15px;
}

label {
  font-size: 14px;
}

.input-info {
  padding: .5rem;
  border-radius: 8px;
  border: 1px solid #dcdfe2;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-button {
  width: 100%;
}

.signup-button {
  background-color: #45C1A0;
}

.login-button {
  background-color: #EEAEAC;
}

.errors {
  color: red;
  font-size: 10px;
  padding-left: .5rem;
}

.form-sublabel {
  color: gray;
  font-size: 12px;
}

.product-form {
  padding-bottom: .5rem;
}