.product-card__wrapper {
  position: relative;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.product-card__wishlist {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background-color: var(--color-light-green);
  padding: .3rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  z-index: 2;
}

.product-card__price {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  /* background-color: red; */
  border: 1px solid lightgrey;
  background-color: white;
  padding: 6px 9px;
  border-radius: 15px;
  font-size: 13px;
}

.product-card__wrapper:hover {
  /* box-shadow: 0 0 2px rgba(0, 0, 0, .2) rgba(0, 0, 0, .1) */
  box-shadow: var(--shadow-hover);
  cursor: pointer;
}

.product-card__wishlist:hover {
  box-shadow: var(--shadow-hover);
}

.product-detail__wrapper {
  /* border: 2px solid red; */
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'a a b'
    'a a b'
    'c c .';
}

div .product-detail__main {
  border: 2px solid green;

}

div .product-detail__images {
  grid-area: a;
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  gap: 1rem
}

div .product-detail__info {
  grid-area: b;
  /* border: 2px solid brown; */
}

.product-detail__title {
  overflow-wrap: break-word;
  word-break: break-word;
}

.product-detail__description {
  overflow-wrap: break-word;
  word-break: break-word;
}

div .product-detail__reviews-wrapper {
  grid-area: c;
  /* border: 2px solid blue; */
}

.prodct-detail__side-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-detail__image-side {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.product-detail__image-side:hover {
  box-shadow: var(--shadow-hover);
}

.product-detail__preview {
  display: flex;
  align-items: center;
  position: relative;
  /* border: 3px solid darkorchid; */
  flex: 1;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
  /* width: 100%; */

}

.product-detail__preview-image {
  /* border: 1px solid green; */
  width: 35rem;
  height: 35rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

/* .product-detail__preview-image:hover {
  box-shadow: var(--shadow-hover);
} */

.product-detail__wishlist {
  align-self: flex-start;
  position: relative;
  top: .5rem;
  right: 3rem;
  background-color: var(--color-light-green);
}

.icons {
  background-color: rgb(249, 249, 249);
  background-color: var(--color-light-green);
  /* border: 1px solid lightgray; */
  padding: .3rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  box-shadow: var(--shadow);
}

.icons:hover {
  box-shadow: var(--shadow-hover);

  border: none;
  cursor: pointer;
}

.product-detail__info {
  display: flex;
  flex-direction: column;
  /* border: 2px solid orange; */
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-detail__cart {
  width: 100%;
  background-color: var(--color-pink);
  font-size: 18px;
  font-weight: 500;

}

.product-form__wrapper {
  width: 30rem;
  margin: 0 auto;
  padding: 1rem;
}

.product-detail__reviews-header {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;

}

.product-detail__reviews {
  border-bottom: 1px solid gray;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-bottom: .5rem;
}

.product-detail__leave-review {
  color: var(--color-headers);
  display: flex;
  gap: .2rem;

  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

.product-detail__leave-review:hover {
  transition: border-bottom 300ms, transform 300ms;
  border-bottom: 2px solid var(--color-salmon);

  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.image-test-input {
  height: 200px;
  width: 200px;
  background-color: pink;
  display: none;
}

.custom-file-upload {
  height: 200px;
  width: 200px;
  background-image: url('../../photos/add-photo.png');
  background-size: 200px 200px;
  box-shadow: var(--shadow);
  border-radius: 10px;
}

.custom-file-upload:hover {
  box-shadow: var(--shadow-hover);
  cursor: pointer;
}