.product-detail__reviews {
  border-bottom: 1px solid lightgray;
}

.review__stars {
  overflow-wrap: break-word;
  word-break: break-all;
}

.product-detail__avg-rating {
  border-bottom: 1px solid lightgrey;
}