.product-detail__reviews {
  border-bottom: 1px solid gray;
}

.review__stars {
  overflow-wrap: break-word;
  word-break: break-word;
}

.product-detail__avg-rating {
  border-bottom: 1px solid gray;
}